In [7]:
import pandas as pd
import numpy as np

In [10]:
stock_id = pd.read_excel(r"C:\Users\ctsld\PycharmProjects\Anaconda_project\risk_management\客戶欲申請股票期貨標的.xls")
ssf_2016 = pd.read_csv(r"C:\Users\ctsld\PycharmProjects\Anaconda_project\risk_management\ssf_2016.csv", encoding='big5')

In [17]:
ssf_2016

,交易日期,契約,到期月份(週別),開盤價,最高價,最低價,收盤價,漲跌價,漲跌%,成交量,結算價,未沖銷契約數,最後最佳買價,最後最佳賣價,歷史最高價,歷史最低價,是否因訊息面暫停交易
0,2016/3/1,OKF,201603,9.45,9.6,9.29,9.52,-0.19,-1.96%,928,9.52,864,9.52,9.54,12.48,9.11,NaN
1,2016/3/1,OKF,201604,9.38,9.57,9.28,9.48,-0.2,-2.07%,100,9.48,51,9.46,9.49,10.1,9.28,NaN
2,2016/3/1,OKF,201606,-,-,-,-,-,-,-,9.48,264,-,9.49,11.93,9.2,NaN
3,2016/3/1,OKF,201609,-,-,-,-,-,-,-,9.3,5,-,9.49,11.89,11.88,NaN
4,2016/3/1,OKF,201612,-,-,-,-,-,-,-,9.65,0,-,9.49,-,-,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25913,2016/3/31,OAF,201604/201605,-0.07,-0.07,-0.07,-0.07,-,-,3,-,-,-0.06,-0.04,-0.07,-0.07,NaN
25914,2016/3/31,OCF,201604/201605,-0.02,-0.02,-0.02,-0.02,-,-,3,-,-,-0.04,-0.01,-0.02,-0.02,NaN
25915,2016/3/31,CDF,201604/201606,-0.01,-0.01,-0.01,-0.01,-,-,18,-,-,-0.02,-0.01,-0.01,-0.01,NaN
25916,2016/3/31,CDF,201605/201606,-0.02,-0.01,-0.02,-0.01,-,-,10,-,-,-0.02,-0.01,-0.01,-0.02,NaN
25917,2016/3/31,IJF,201605/201606,-0.01,-0.01,-0.01,-0.01,-,-,1,-,-,-0.01,5,-0.01,-0.01,NaN

In [15]:
#股票期貨標的的代號
id = list(stock_id.iloc[2:35, 0])
id

['NY',
 'NZ',
 'OJ',
 'OK',
 'CR',
 'LW',
 'FF',
 'CT',
 'DH',
 'CV',
 'CD',
 'DS',
 'LQ',
 'GI',
 'DK',
 'CH',
 'DV',
 'GX',
 'HC',
 'CZ',
 'HS',
 'CE',
 'CK',
 'CL',
 'CN',
 'IJ',
 'LE',
 'DQ',
 'JN',
 'JS',
 'OA',
 'OB',
 'OC']

In [73]:
#增加一個欄位為契約前兩碼
for i in range(0,25918):
    ssf_2016['代號'][i] = str(list(ssf_2016['契約'][i])[0]+list(ssf_2016['契約'][i])[1])

In [86]:
#判斷是不是在顧客欲申請的股票期貨代碼裡，不是則刪除
for i in range(0,25918):
    if ssf_2016['代號'][i] in id :
        pass
    else:
        ssf_2016 = ssf_2016.drop(index=i)

In [111]:
ssf_2016

,交易日期,契約,到期月份(週別),開盤價,最高價,最低價,收盤價,漲跌價,漲跌%,成交量,結算價,未沖銷契約數,最後最佳買價,最後最佳賣價,歷史最高價,歷史最低價,是否因訊息面暫停交易,代號
0,2016/3/1,OKF,201603,9.45,9.6,9.29,9.52,-0.19,-1.96%,928,9.52,864,9.52,9.54,12.48,9.11,NaN,OK
1,2016/3/1,OKF,201604,9.38,9.57,9.28,9.48,-0.2,-2.07%,100,9.48,51,9.46,9.49,10.1,9.28,NaN,OK
2,2016/3/1,OKF,201606,-,-,-,-,-,-,-,9.48,264,-,9.49,11.93,9.2,NaN,OK
3,2016/3/1,OKF,201609,-,-,-,-,-,-,-,9.3,5,-,9.49,11.89,11.88,NaN,OK
4,2016/3/1,OKF,201612,-,-,-,-,-,-,-,9.65,0,-,9.49,-,-,NaN,OK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25913,2016/3/31,OAF,201604/201605,-0.07,-0.07,-0.07,-0.07,-,-,3,-,-,-0.06,-0.04,-0.07,-0.07,NaN,OA
25914,2016/3/31,OCF,201604/201605,-0.02,-0.02,-0.02,-0.02,-,-,3,-,-,-0.04,-0.01,-0.02,-0.02,NaN,OC
25915,2016/3/31,CDF,201604/201606,-0.01,-0.01,-0.01,-0.01,-,-,18,-,-,-0.02,-0.01,-0.01,-0.01,NaN,CD
25916,2016/3/31,CDF,201605/201606,-0.02,-0.01,-0.02,-0.01,-,-,10,-,-,-0.02,-0.01,-0.01,-0.02,NaN,CD
25917,2016/3/31,IJF,201605/201606,-0.01,-0.01,-0.01,-0.01,-,-,1,-,-,-0.01,5,-0.01,-0.01,NaN,IJ

In [345]:
#取出需要的欄位
df = ssf_2016[['契約','到期月份(週別)','成交量']]
df

        契約       到期月份(週別)  成交量
0      OKF         201603  928
1      OKF         201604  100
2      OKF         201606    -
3      OKF         201609    -
4      OKF         201612    -
...    ...            ...  ...
25913  OAF  201604/201605    3
25914  OCF  201604/201605    3
25915  CDF  201604/201606   18
25916  CDF  201605/201606   10
25917  IJF  201605/201606    1

[4287 rows x 3 columns]

In [346]:
df.reset_index(drop=True, inplace=True)

In [347]:
df

       契約       到期月份(週別)  成交量
0     OKF         201603  928
1     OKF         201604  100
2     OKF         201606    -
3     OKF         201609    -
4     OKF         201612    -
...   ...            ...  ...
4282  OAF  201604/201605    3
4283  OCF  201604/201605    3
4284  CDF  201604/201606   18
4285  CDF  201605/201606   10
4286  IJF  201605/201606    1

[4287 rows x 3 columns]

In [358]:
#轉換成交量格式(從文字變成數字)
# for i in range(len(df.index)):        
#     print(df['成交量'][i],type(df['成交量'][i]))
#     if df['成交量'][i] == '-':
#         df['成交量'][i]= 0        
#     else:
#         df['成交量'][i] = int(df['成交量'][i])

In [348]:
#將$欄位裡有-的欄位排除
df2 = df[df['成交量'] != '-']

In [355]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2166 entries, 0 to 4286
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   契約        2166 non-null   object
 1   到期月份(週別)  2166 non-null   object
 2   成交量       2166 non-null   int32
dtypes: int32(1), object(2)
memory usage: 59.2+ KB

In [359]:
df2['成交量'] = df2['成交量'].astype('int')

c:\users\ctsld\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [357]:
df2.groupby(['契約','到期月份(週別)']).sum()

                     成交量
契約  到期月份(週別)
CDF 201603         16190
    201603/201604   1734
    201603/201606   2600
    201603/201609      4
    201603/201612      7
...                  ...
OKF 201604          8063
    201605           506
    201606            25
    201609            17
    201612             2

[214 rows x 1 columns]

In [356]:
df2.pivot_table(index='契約', columns='到期月份(週別)')

                  成交量                                                          \
到期月份(週別)       201603 201603/201604 201603/201606 201603/201609 201603/201612
契約
CDF       1349.166667    216.750000    288.888889           4.0           7.0
CEF        849.833333     57.000000           NaN           NaN           NaN
CHF       1116.416667     20.333333           NaN           NaN           NaN
CKF        660.750000     91.636364           NaN           NaN           NaN
CL1         30.000000           NaN           NaN           NaN           NaN
CLF        196.916667           NaN           NaN           NaN           NaN
CNF        318.083333     19.500000           NaN           NaN           NaN
CRF         25.272727           NaN           NaN           NaN           NaN
CTF        270.916667     16.750000           NaN           NaN           NaN
CVF        247.083333     37.000000           NaN           NaN           NaN
CZF        374.916667     21.333333           NaN           NaN           NaN
DH1         23.600000           NaN           NaN           NaN           NaN
DHF       1312.250000    153.375000      1.000000           NaN           NaN
DKF         23.583333           NaN           NaN           NaN           NaN
DQF       1696.250000     19.500000           NaN           NaN           NaN
DSF        536.166667      3.666667           NaN           NaN           NaN
DVF        826.166667     58.083333           NaN           NaN           NaN
FFF        349.500000     12.714286           NaN           NaN           NaN
GIF         70.333333      5.000000           NaN           NaN           NaN
GXF        639.916667     36.700000           NaN           NaN           NaN
HCF       3620.416667     96.333333           NaN           NaN           NaN
HSF        489.333333    125.000000           NaN           NaN           NaN
IJF        183.083333     11.875000           NaN           NaN           NaN
JNF       2378.916667     37.833333           NaN           NaN           NaN
JSF        185.666667     42.500000           NaN           NaN           NaN
LEF        121.583333      3.500000           NaN           NaN           NaN
LQF        246.416667     11.666667           NaN           NaN           NaN
LW1          8.555556           NaN           NaN           NaN           NaN
LWF        204.000000     20.083333           NaN           NaN           NaN
NYF        618.583333    179.818182      1.000000           NaN           NaN
NZF        874.833333    283.777778           NaN           NaN           NaN
OAF       5156.416667    179.888889           NaN           NaN           NaN
OBF        514.500000     44.000000           NaN           NaN           NaN
OCF        376.916667     19.250000           NaN           NaN           NaN
OJF        170.166667     24.714286           NaN           NaN           NaN
OKF        550.416667     54.875000           NaN           NaN           NaN

                                                                               \
到期月份(週別)       201604 201604/201605 201604/201606 201604/201609 201604/201612
契約
CDF        919.086957     37.000000     70.176471           NaN          50.0
CEF        518.695652     11.200000           NaN           NaN           NaN
CHF        969.304348           NaN           NaN           NaN           NaN
CKF        513.695652     77.571429           NaN           NaN           NaN
CL1               NaN           NaN           NaN           NaN           NaN
CLF        185.478261      7.000000           NaN           NaN           NaN
CNF        410.913043     13.666667           NaN           NaN           NaN
CRF         17.450000           NaN           NaN           NaN           NaN
CTF        171.434783      5.500000           NaN           NaN           NaN
CVF        205.130435           NaN           NaN           NaN           NaN
CZF        291.173913           NaN           NaN           NaN           NaN
DH1               NaN           NaN           NaN           NaN           NaN
DHF       1855.136364   2041.111111           NaN          90.0           NaN
DKF         29.318182           NaN           NaN           NaN           NaN
DQF       1621.565217      1.000000           NaN           NaN           NaN
DSF        424.391304     49.250000           NaN           NaN           NaN
DVF        619.826087    176.363636           NaN           NaN           NaN
FFF        114.695652      6.400000           NaN           NaN           NaN
GIF        140.478261      6.000000           NaN           NaN           NaN
GXF        535.434783     30.363636           NaN           NaN           NaN
HCF       2364.130435    622.222222           NaN           NaN           NaN
HSF        369.521739    146.333333           NaN           NaN           NaN
IJF         92.782609      8.200000      4.000000           NaN           NaN
JNF       1210.000000     33.777778           NaN           NaN           NaN
JSF        179.260870           NaN           NaN           NaN           NaN
LEF         81.086957           NaN           NaN           NaN           NaN
LQF        359.652174     34.666667           NaN           NaN           NaN
LW1               NaN           NaN           NaN           NaN           NaN
LWF        144.782609     17.272727           NaN           NaN           NaN
NYF        478.391304     29.000000      5.000000           NaN           NaN
NZF        575.260870    118.500000           NaN           NaN           NaN
OAF       3235.565217     27.625000           NaN           NaN           NaN
OBF        310.608696      3.000000           NaN           NaN           NaN
OCF        226.260870      3.500000           NaN           NaN           NaN
OJF        104.173913      1.250000           NaN           NaN           NaN
OKF        350.565217           NaN           NaN           NaN           NaN

                                                                             \
到期月份(週別)       201605 201605/201606 201605/201609 201605/201612      201606
契約
CDF        356.545455          11.0           NaN           NaN  489.739130
CEF        181.818182           NaN           NaN           NaN    1.000000
CHF        326.090909           NaN           NaN           NaN    1.000000
CKF        236.090909           NaN           NaN           NaN    6.000000
CL1               NaN           NaN           NaN           NaN         NaN
CLF        120.090909           NaN           NaN           NaN         NaN
CNF        324.181818           NaN           NaN           NaN    3.000000
CRF         15.666667           NaN           NaN           NaN         NaN
CTF         42.909091           NaN           NaN           NaN         NaN
CVF         39.090909           NaN           NaN           NaN  830.666667
CZF        141.545455           NaN           NaN           NaN         NaN
DH1               NaN           NaN           NaN           NaN    1.000000
DHF       2217.000000           NaN         227.5           5.0   14.238095
DKF         19.000000           NaN           NaN           NaN         NaN
DQF        536.727273           NaN           NaN           NaN    1.000000
DSF        233.363636           NaN           NaN           NaN         NaN
DVF        311.000000           NaN           NaN           NaN    1.642857
FFF         13.818182           NaN           NaN           NaN         NaN
GIF         59.181818           NaN           NaN           NaN         NaN
GXF         61.454545           NaN           NaN           NaN         NaN
HCF        599.727273           NaN           NaN           NaN    3.333333
HSF        184.272727           NaN           NaN           NaN         NaN
IJF         11.727273           1.0           NaN           NaN    2.625000
JNF        110.636364           NaN           NaN           NaN    1.000000
JSF         31.636364           NaN           NaN           NaN    2.400000
LEF         15.272727           NaN           NaN           NaN         NaN
LQF        151.545455           NaN           NaN           NaN         NaN
LW1               NaN           NaN           NaN           NaN         NaN
LWF         27.909091           NaN           NaN           NaN    1.000000
NYF        108.272727           NaN           NaN           NaN    3.166667
NZF        112.454545           NaN           NaN           NaN    2.363636
OAF        313.272727           NaN           NaN           NaN    3.416667
OBF         34.454545           NaN           NaN           NaN    1.000000
OCF         48.000000           NaN           NaN           NaN    2.000000
OJF         23.909091           NaN           NaN           NaN    2.333333
OKF         46.000000           NaN           NaN           NaN    3.125000


到期月份(週別) 201606/201609     201609     201612
契約
CDF          19.750000  34.650000  15.900000
CEF                NaN        NaN        NaN
CHF                NaN        NaN        NaN
CKF                NaN   1.000000        NaN
CL1                NaN        NaN        NaN
CLF                NaN        NaN        NaN
CNF                NaN        NaN        NaN
CRF                NaN        NaN        NaN
CTF                NaN        NaN        NaN
CVF                NaN        NaN        NaN
CZF                NaN        NaN        NaN
DH1                NaN        NaN        NaN
DHF          70.666667  85.133333   3.000000
DKF                NaN        NaN        NaN
DQF                NaN        NaN        NaN
DSF                NaN        NaN        NaN
DVF                NaN        NaN        NaN
FFF                NaN        NaN        NaN
GIF                NaN        NaN        NaN
GXF                NaN        NaN        NaN
HCF                NaN        NaN        NaN
HSF                NaN        NaN        NaN
IJF           1.000000   1.500000        NaN
JNF                NaN        NaN        NaN
JSF                NaN        NaN        NaN
LEF                NaN        NaN        NaN
LQF                NaN        NaN        NaN
LW1                NaN        NaN        NaN
LWF                NaN        NaN        NaN
NYF           5.000000   2.666667        NaN
NZF                NaN   1.333333   2.000000
OAF                NaN   1.000000   1.555556
OBF                NaN   2.000000   2.500000
OCF                NaN        NaN   1.500000
OJF                NaN   2.000000        NaN
OKF                NaN   2.833333   2.000000